body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
}
  
.app-container {
    display: flex;
    height: 100vh;
}

.pixel-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.7;
    margin: 20px;
    overflow: auto;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15); /* 影を強調 */
    border: 1px solid #333;
    border-radius: 8px; 
}

.pixel-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333; 
    border: none;
    padding: 12px 16px;      
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 10;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pixel-info button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #FF9800;
    color: #212121;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    outline: none;
}

.pixel-info button:hover {
    background-color: #FFA726;
    transform: translateY(-2px);
}

.pixel-info button:active {
    background-color: #EF6C00;
    transform: translateY(1px);
}

.palette-area {
    flex: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: #212121;
    border-right: 3px solid #2C3E50;
}

.mode-toggle-button {
    margin-bottom: 3px;
    padding: 10px 15px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #FFC107;
    color: #212121; 
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.mode-toggle-button:hover {
    background-color: #FFD54F; 
    transform: scale(1.05);
}

.color-swatch {
    width: 30px;
    height: 30px; 
    margin: 5px 0; 
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.color-swatch.selected {
    border-color: black;
}
  
.utility-area {
    flex: 0.2;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    
    padding: 10px;
    background-color: #14191B;
}

.utility-area > *:not(:last-child) {
    margin-bottom: 15px;
}

.land-selector {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 200px;
    background-color: #2d2d2d;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.land-selector option {
    text-align: center;
}

.land-selector select {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    appearance: none; /* hide default dropdown icon */
}

.land-selector button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #2a2a2a;
    }
}

.land-selector ul {
    padding: 0;
    margin: 15px 0;
    max-height: 80px; 
    overflow-y: auto; 
}

.land-selector li {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #1e1e1e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #2a2a2a;
    }
}

.pixel-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 200px;
    background-color: #2d2d2d;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pixel-form input, 
.pixel-form textarea {
    text-align: center;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    outline: none;
}

.pixel-form button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pixel-form button:hover {
    background-color: #2a2a2a;
}

.pixel-form p {
    color: #f44336;
    font-size: 14px;
    margin-top: 5px;
}
